#wrike-taist-toolbar {
  padding-left: 20px;
}

.taist-wrike-approval-button {
  text-shadow: none;
  display: inline-block;
  width: 130px;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-right: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  transition: opacity 0.5s;
}

.taist-wrike-approval-button:hover {
  opacity: 0.8;
}

#taist-wrike-approval-onApproval {
  background-color: #78b0ff;
}

#taist-wrike-approval-approved {
  background-color: #86E886;
}

#taist-wrike-approval-declined {
  background-color: #E88686;
}
