{"pages": [
	{
		"path": "^(/\w+){2}/settings*",
		"entryPoint": "settings"
	}, {
    "path": "^(/\w+){2}/issues/\d+",
    "entryPoint": "editIssue"
  }, {
    "path": "^(/\w+){2}/issues/new",
    "entryPoint": "createIssue"
  }, {
    "path": "^(/\w+){2}/issues",
    "entryPoint": "showIssues"
  }
]}
