.componentsEditTextarea {
  width: 100%;
  margin: 10px 0;
}

.componentsSaveButton {
  margin-right: 10px;
  margin-bottom: 10px;
}

.componentSelectionWidget {
  font-weight: normal;
  margin-right: 50px;
}

.componentFilterWidget {
  margin-right: 20px;
}

.componentSelectDropdown {
}

.componentRequiredWarning {
  color: red;
}

.componentSettingsCheckbox {
  margin-right: 5px;
  margin-left: 20px;
}
